body {
    font-family: Merriweather, serif;
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
    text-align: center;
}

header {
    background: #222;
    padding: 30px;
}

h1, h2{
font-family: Anton, sans-serif;}

section {
    font-size: 1.6rem;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #1c1c1c;
    border-radius: 10px;
}
/* Individual section background colors */
#jotaro {
    background-color: #2c3e50; /* dark navy */
}

#pain {
    background-color: #c0392b; /* deep red */
}

#erwin {
    background-color: #d4ac0d; /* gold */
}